.heading {
    font-size: 25px;
    width: 100%;
    box-shadow: 5px 5px 5px gray;
    margin: 0px;
}

.note {
    font-size: 13px;
    color: black;
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

canvas {
    border-radius: 50%;
    box-shadow: 5px 5px 5px gray;
}